@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Equipo VB */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-gray-50 {
    --tw-bg-opacity: 1 !important;
     background-color: #F5F7FA !important;
}